@import duchess/assets/css/_reset.sass

$duchess-primary = rgba(2, 0, 17, 1)
$duchess-secondary = darken(invert($duchess-primary), 5%)

$duchess-font = Lato

html, body
  height: 100%

section.hero
  background-color: transparent
  height: 100%

  &:before
    content: ''
    display: block
    height: 30%

  & video.background
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    z-index: -2
    overflow: hidden
    -webkit-filter: hue-rotate(-80deg) brightness(0.3)
    transition: -webkit-filter 1s 0.5s

  & video.intro
    opacity: 0
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    z-index: -1
    overflow: hidden
    transition: opacity 1s 2s

  & h1
    opacity: 1
    color: $duchess-secondary
    width: 100%
    font-family: $duchess-font, sans-serif
    font-size: 128px
    font-weight: 300
    text-transform: uppercase
    text-align: center
    -webkit-transform: translateY(0)
    transition: -webkit-transform 2s, opacity 1s 0.5s

  & .buttons
    opacity: 1
    margin-top: 1em
    text-align: center
    -webkit-transform: translateY(0)
    transition: -webkit-transform 2s, opacity 1s 0.5s

    & .start
      outline: none
      width: 240px
      height: 60px
      background-color: desaturate(lighten($duchess-primary, 30%), 80%)
      border: 0
      color: $duchess-secondary
      line-height: 60px
      font-family: $duchess-font, sans-serif
      font-size: 28px
      font-weight: 300
      border-radius: 4px
      text-transform: uppercase
      cursor: pointer
      transition: background-color 0.5s, color 0.5s, box-shadow 0.1s

      &:after
        content: ' »'

      &:hover
        background-color: desaturate(lighten($duchess-primary, 40%), 90%)
        color: black

      &:focus
        box-shadow: 0 0 8px black inset

    & .load
      font-family: $duchess-font, sans-serif
      font-size: 18px
      line-height: 36px
      font-weight: 300
      color: $duchess-secondary
      text-decoration: none
      transition: color 0.5s

      &:hover
        color: lighten($duchess-secondary, 20%)

  &.started

    & video.background
      -webkit-filter: hue-rotate(0) brightness(1)

    & video.intro
      opacity: 1

    & h1
      opacity: 0
      -webkit-transform: translateY(-100px)

    & .buttons
      opacity: 0
      -webkit-transform: translateY(100px)

section.about
  background-color: $duchess-secondary
  height: 1200px

  & h2
    color: $duchess-primary
